@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.btn {
  margin-top: 50px;
  margin-left: 20px;
}

.btn2 {
  margin-top: 120px;
  position: absolute;
  margin-left: 20px;
}

.container2 {
  background: white;
  margin-top: 40px;
  padding-left: 20px;
  margin-left: 400px;
  width: 750px;
  height: 160px;
  border-radius: 20px;
}

.container3 {
  background: white;
  margin-top: 15 0px;
  padding-left: 20px;
  margin-left: 140px;
  width: 750px;
  height: 400px;
  border-radius: 20px;
}

.container4 {
  background: transparent;
  width: 450px;
  height: 400px;
  border-radius: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.hovered {
  filter: blur(3px);
  /* Efek blur saat dihover */
}


.camera-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Pusatkan ikon kamera di tengah gambar */
  font-size: 24px;
  color: white;
  opacity: 0;
  /* Sembunyikan ikon kamera secara default */
  transition: opacity 0.3s ease;
  /* Animasikan perubahan opacity */
}

.image-container:hover .camera-icon {
  opacity: 1;
  /* Tampilkan ikon kamera saat dihover */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-preview {
  text-align: center;
}

/*flipcard*/
/* App.css */
.flip-card {
  width: 300px;
  height: 400px;
  border: 1;
  border-color: blue;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;

  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-gilang {
  width: 100%;
  border: 2px;
  border-color: black;
  background-image: url("../assets/gilang.png");
  height: 100%;
  background-size: cover;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-febryan {
  width: 100%;
  background-image: url("../assets/febryan2.png");
  background-size: cover;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-izzy {
  width: 100%;
  background-image: url("../assets/izzy.png");
  background-size: cover;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-saipul {
  width: 100%;
  background-image: url("../assets/berdua.png");
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner-gilang {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner-febryan {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner-izzy {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner-saipul {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {

  color: black;
}



.flip-card-back {
  width: 300;
  height: 400;
  color: white;
  transform: rotateY(180deg);
}

.front-content,
.back-content {
  height: 100%;
}


.flip-button {
  cursor: pointer;
}


/*flipcard ends here*/