@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.btn {
  margin-top: 50px;
  margin-left: 20px;
}

.btn2 {
  margin-top: 120px;
  position: absolute;
  margin-left: 20px;
}

.container2 {
  background: white;
  margin-top: 40px;
  padding-left: 20px;
  margin-left: 400px;
  width: 750px;
  height: 160px;
  border-radius: 20px;
}

.container3 {
  background: white;
  margin-top: 15 0px;
  padding-left: 20px;
  margin-left: 140px;
  width: 750px;
  height: 400px;
  border-radius: 20px;
}

.container4 {
  background: transparent;
  width: 450px;
  height: 400px;
  border-radius: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.hovered {
  filter: blur(3px);
  /* Efek blur saat dihover */
}


.camera-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Pusatkan ikon kamera di tengah gambar */
  font-size: 24px;
  color: white;
  opacity: 0;
  /* Sembunyikan ikon kamera secara default */
  transition: opacity 0.3s ease;
  /* Animasikan perubahan opacity */
}

.image-container:hover .camera-icon {
  opacity: 1;
  /* Tampilkan ikon kamera saat dihover */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-preview {
  text-align: center;
}

